<% @page_title = "Songs" %>

<%= link_to("<< Back to Album", {:controller => 'albums', :action => 'index'}, :class => 'back-link') %>


<div class= "songs index">
	<h2>SONGS</h2>

	<%= link_to(image_tag('plus_sign.png', :size => '11 x 11', :alt => '+') + " Add New Song", {:action => 'new', :album_id => @album.id}, :class => 'action new') %>

	<div><%= pluralize(@songs.size, 'song') %> found</div>
	<table class="listing" summary = "Song list">
		<tr class= "header">
			<!--<th>&nbsp;</th>-->
			<th>Album</th>
			<th>Title</th>
			<th>Actions</th>
		</tr>
		<% @songs.each do |song| %>
		<tr class= "<%= cycle('odd', 'even') %>">
			<td><%= song.album.name if song.album %>
			<td><%= song.name %></td>


			
			<td class="actions">
				<%= link_to("Show", {:action => 'show', :id => song.id, :album_id => @album.id}, :class => 'action show') %>
				<%= link_to("Edit", {:action => 'edit', :id => song.id, :album_id => @album.id}, :class => 'action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => song.id, :album_id => @album.id}, :class => 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>